body {
  font-family: 'Poppins', sans-serif;
  background-color: #4f4f4f; }

nav {
  opacity: .98;
  font-size: .8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3.4rem; }
  nav a {
    text-decoration: none;
    color: inherit; }
  nav .nav-logo {
    position: relative;
    display: inline;
    vertical-align: middle; }
  nav embed {
    height: 3rem;
    padding-right: .5rem;
    margin-top: .5rem; }
  nav h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    margin-left: 2rem;
    float: left; }
  nav ul {
    float: right;
    margin-right: 2rem; }
  nav li {
    display: inline;
    line-height: 4rem; }
    nav li a {
      text-decoration: none;
      color: #f2f2f2;
      padding: .8rem;
      font-size: 1rem;
      transition: all 300ms ease; }
      nav li a:hover {
        color: #40c0c9; }
    nav li .nav-logo {
      position: relative; }

.top-bar {
  height: 5rem;
  position: fixed;
  top: -1rem;
  width: 100%;
  z-index: 200;
  background-color: #4f4f4f;
  -webkit-transform: skew(0deg, -1deg);
  -moz-transform: skew(0deg, -1deg);
  -ms-transform: skew(0deg, -1deg);
  -o-transform: skew(0deg, -1deg);
  transform: skew(0deg, -1deg); }

header {
  background: -webkit-radial-gradient(right, ellipse cover, #7d7e7d 0%, #444444 100%);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  position: relative; }
  header embed {
    width: 6rem;
    position: relative;
    margin: 0 0 5rem 5rem; }

h1 {
  font-size: 4rem;
  color: #40c0c9; }

h2 {
  color: #f2f2f2; }

.main {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.title {
  font-family: 'Poiret One', cursive;
  font-size: 5.5rem;
  margin-top: 0;
  text-align: left;
  line-height: 5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 5rem; }

.subtitle {
  font-family: 'Poiret One', cursive;
  font-size: 2.75rem;
  text-align: left;
  line-height: 3rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 5rem; }

.scroll-down {
  color: #f2f2f2;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 40%;
  text-decoration: none; }
  .scroll-down a {
    color: #f2f2f2;
    opacity: 0.60;
    transition: all 500ms ease; }
    .scroll-down a:hover {
      opacity: 1; }

.main-pic {
  position: absolute;
  bottom: 0;
  right: 1rem; }
  .main-pic img {
    width: 100%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1); }

.banner-1 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.container-1 {
  position: relative;
  padding: 5rem 7rem; }
  .container-1 .row {
    max-width: 100%; }
  .container-1 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    text-align: left;
    text-transform: uppercase; }
  .container-1 p {
    margin-top: 2rem;
    color: #989090;
    text-align: left;
    line-height: 1.8rem; }
  .container-1 .video {
    margin-top: 3rem; }
  .container-1 iframe {
    margin: 0;
    display: block; }
  .container-1 img {
    display: block;
    margin: auto; }

.banner-2 {
  width: 100%;
  height: 28rem;
  background-image: url(../img/sky.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .banner-2 img {
    position: absolute;
    display: inline; }
  .banner-2 .container-2 {
    padding: 1rem;
    background: rgba(203, 203, 203, 0.5);
    margin: 5rem 4rem 0 0;
    width: 40%;
    float: right; }
  .banner-2 h2 {
    color: #0d454a;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    text-transform: uppercase; }
  .banner-2 p {
    margin-top: 2rem;
    color: #403d3d;
    text-align: left;
    line-height: 1.8rem; }
  .banner-2 h3 {
    text-transform: uppercase;
    color: #40c0c9;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2rem;
    padding-top: .8rem; }

.banner-3 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2; }
  .banner-3 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2.5rem 0 2.5rem 0; }
  .banner-3 .skills {
    text-align: center;
    padding: 2.5rem 0;
    color: #40c0c9; }
  .banner-3 .fa {
    color: #40c0c9; }

.banner-4 {
  width: 100%;
  height: auto;
  background-image: -moz-linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-image: -webkit-linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-image: -ms-linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-image: linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem 5rem 2rem; }
  .banner-4 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 5rem 0 2.5rem 0; }
  .banner-4 p {
    margin-top: 2rem;
    color: #f2f2f2;
    text-align: justify;
    line-height: 1.8rem;
    padding: 0 1rem; }

.banner-5 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-top: 2.5rem; }
  .banner-5 .container-5 {
    position: relative;
    margin-bottom: 2rem; }
  .banner-5 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    text-align: left;
    text-transform: uppercase;
    padding: 2.5rem 0 1.2rem 0; }
  .banner-5 .contact-info {
    padding-bottom: 1.2rem; }
  .banner-5 .skills {
    text-align: left;
    padding: 2.5rem 0;
    color: #40c0c9; }
  .banner-5 .fa {
    color: #40c0c9; }

.contact-pic {
  position: relative;
  bottom: -2.5rem;
  margin: 0 auto;
  width: 100%; }

input, textarea {
  padding: .5rem;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal .8rem/100% Helvetica, sans-serif;
  width: 14rem;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem;
  background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); }

textarea {
  width: 28rem;
  max-width: 28rem;
  height: 9rem;
  line-height: 150%; }

input, textarea {
  transition: all 500ms ease; }
  input:hover, textarea:hover {
    border-color: #40c0c9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0.5rem; }
  input:focus, textarea:focus {
    border-color: #40c0c9; }

.contact-form label {
  margin-left: .7rem;
  font-size: .8rem;
  color: #5d5959; }
.contact-form p {
  padding: .4rem 0; }

.submit input {
  width: auto;
  padding: .5rem 1rem;
  background: #403d3d;
  border: 0;
  font-size: .8rem;
  color: #fff;
  border-radius: .5rem;
  transition: all 500ms ease; }
  .submit input:hover {
    background: #40c0c9; }

#sctn-6 .footer {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-color: #4f4f4f;
  -webkit-transform: skew(0deg, -1deg);
  -moz-transform: skew(0deg, -1deg);
  -ms-transform: skew(0deg, -1deg);
  -o-transform: skew(0deg, -1deg);
  transform: skew(0deg, -1deg);
  margin-top: -0.8rem; }
#sctn-6 .container-footer {
  position: relative;
  padding-top: 3rem; }
  #sctn-6 .container-footer p {
    text-align: center;
    font-size: .8rem;
    color: #bebebe; }
