body {
  font-family: 'Poppins', sans-serif;
}

//NAVIGATION

nav {
  opacity: .98;
  font-size: .8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3.4rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  .nav-logo {
    position: relative;
    display: inline;
    vertical-align: middle;
  }
  
  embed {
    height: 3rem;
    padding-right: .5rem;
    margin-top: .5rem;
  }
  h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    margin-left: 2rem;
    float: left;
  }
  ul {
    float: right;
    margin-right: 2rem;
  }
  li {
    display: inline;
    line-height: 4rem;
    a {
      text-decoration: none;
      color: #f2f2f2;
      padding: .8rem;
      font-size: 1rem;
      transition: all 300ms ease;
    }
    a:hover {
      color: #40c0c9;
    }
    .nav-logo {
      position: relative;
    }
  }
}

.top-bar {
  height: 5rem;
  position: fixed;
  top: -1rem;
  width: 100%;
  z-index: 200;
  background-color: #4f4f4f;
  -webkit-transform: skew(0deg, -1deg);
  -moz-transform: skew(0deg, -1deg);
  -ms-transform: skew(0deg, -1deg);
  -o-transform: skew(0deg, -1deg);
  transform: skew(0deg, -1deg);
}


  


//HEADER

header {
  background: -webkit-radial-gradient(right, ellipse cover, #7d7e7d 0%,#444444 100%);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  position: relative;

}

h1 {
  font-size: 4rem;
  color: #40c0c9;
  
}

h2 {
  color: #f2f2f2;
}

.main {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-family: 'Poiret One', cursive;
  font-size: 5.5rem;
  margin-top: 0;
  text-align: left;
  line-height: 5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 5rem;
}

.subtitle {
  font-family: 'Poiret One', cursive;
  font-size: 2.75rem;
  text-align: left;
  line-height: 3rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 5rem;
}

.scroll-down {
  color: #f2f2f2;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 50%;
}

.main-pic {
  position: absolute;
  bottom: 0;
  right: 36.22rem;
  img {
    width: 200%;
    max-width: 200%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
}

//INTRO


.banner-1 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.container-1 {
  position: relative;
  padding: 5rem 7rem;
  .row {
    max-width: 100%;
  }
  h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    text-align: right;
    text-transform: uppercase;
  }
  p {
    margin-top: 2rem;
    color: #989090;
    text-align: left;
    line-height: 1.8rem;
  }
  .video {
    margin-top: 3rem;
  }
  
  iframe {
    margin: auto;
    display: block;
  }
}

.banner-2 {
  width: 100%;
  height: 25rem;
  background-image: url(../img/sky.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  img {
    position: absolute;
    display: inline;
  }
  .container-2 {
    position: relative;
  }
  
  h2 {
    color: #40c0c9;
    font-family: 'poppins', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: right;
    text-transform: uppercase;
    padding: 4rem 4rem 1rem 6rem;
  }
  p {
    margin-top: 2rem;
    color: #DBDBDB;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-shadow: 1px 1px 2px black;
    padding: 0 4rem 0 40%;
  }
  h3 {
    text-transform: uppercase;
    color: #40c0c9;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2rem;
    padding-top: .8rem;
  }

}

.banner-3 {
  .skills {
    text-align: center;
    padding: 2.5rem 0;
    color: #40c0c9;
  }
  .fa {
    color: #40c0c9;
  }

}



