body {
  font-family: 'Poppins', sans-serif;
  background-color: #4f4f4f; }
  body a {
    text-decoration: none;
    color: #bebebe; }

nav {
  opacity: .98;
  font-size: .8rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3.4rem; }
  nav a {
    text-decoration: none;
    color: inherit; }
  nav .nav-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
  nav .nav-title {
    display: inline-block;
    vertical-align: middle; }
  nav embed {
    height: 3rem;
    padding-right: .5rem;
    margin-top: .5rem; }
  nav h1 {
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    margin-left: 2rem;
    float: left;
    color: #40c0c9; }
  nav ul {
    float: right;
    margin-right: 2rem; }
  nav li {
    display: inline;
    line-height: 4rem; }
    nav li a {
      text-decoration: none;
      color: #f2f2f2;
      padding: .8rem;
      font-size: 1rem;
      transition: all 300ms ease; }
      nav li a:hover {
        color: #40c0c9; }
  nav .menu-button {
    display: none;
    font-size: 1.6rem;
    float: right;
    color: #fff;
    line-height: 3rem;
    margin-right: 3rem;
    margin-top: .55rem; }
  nav .menu-close {
    display: none; }

.is-hidden {
  opacity: 0;
  transition: opacity 600ms ease; }

.is-showing {
  opacity: 1;
  transition: opacity 600ms ease; }

.top-bar {
  height: 5rem;
  position: fixed;
  top: -1rem;
  width: 100%;
  z-index: 200;
  background-color: #4f4f4f;
  -webkit-transform: skew(0deg, -1deg);
  -moz-transform: skew(0deg, -1deg);
  -ms-transform: skew(0deg, -1deg);
  -o-transform: skew(0deg, -1deg);
  transform: skew(0deg, -1deg); }

header {
  background: -webkit-radial-gradient(right, ellipse cover, #7d7e7d 0%, #444444 100%);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  position: relative; }
  header embed {
    height: 4rem; }
  header .header-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: .5rem; }
  header h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    color: #40c0c9;
    text-transform: uppercase;
    line-height: 3rem; }
  header p {
    font-family: 'Poiret One', cursive;
    color: #f2f2f2;
    font-size: 1.4rem;
    padding-top: .5rem; }

.header-wrap {
  height: 100%; }

.header-img {
  background-image: url("../img/enny-portrait.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 70%; }

.header-text {
  height: 30%;
  padding: 2rem 0 0 1.5rem; }

.banner-1 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.container-1 {
  position: relative;
  padding: 5rem 1rem 0 1rem; }
  .container-1 .about {
    margin-bottom: 4rem; }
  .container-1 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase; }
  .container-1 p {
    margin-top: 2rem;
    color: #989090;
    text-align: center;
    line-height: 1.8rem; }
  .container-1 .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 2rem;
    height: 0;
    left: 10%;
    right: 10%; }
    .container-1 .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 80%; }
  .container-1 img {
    width: 94%;
    margin-left: 6%;
    padding-top: 2rem; }

.banner-2 {
  width: 100%;
  height: 32rem;
  background-image: url(../img/sky.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .banner-2 img {
    position: absolute;
    display: inline;
    width: 40%; }
  .banner-2 .container-2 {
    padding: .5rem;
    background: rgba(203, 203, 203, 0.5);
    width: 80%;
    right: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .banner-2 h2 {
    color: #0d454a;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-left: 5rem; }
  .banner-2 p {
    margin-top: 2rem;
    color: #403d3d;
    text-align: center;
    line-height: 1.8rem; }

.banner-3 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2; }
  .banner-3 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2.5rem 1rem 2.5rem 1rem; }
  .banner-3 .skills {
    text-align: center;
    padding: 2.5rem 0;
    color: #40c0c9; }
  .banner-3 .fa {
    color: #40c0c9; }

.banner-4 {
  width: 100%;
  height: auto;
  background-image: -moz-linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-image: -webkit-linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-image: -ms-linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-image: linear-gradient(rgba(99, 105, 109, 0.72), rgba(47, 76, 77, 0.59)), url("../img/onair.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem 5rem 2rem; }
  .banner-4 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 5rem 0 2.5rem 0; }
  .banner-4 p {
    margin-top: 2rem;
    color: #f2f2f2;
    text-align: center;
    line-height: 1.8rem; }
  .banner-4 a {
    transition: all 300ms ease; }
    .banner-4 a:hover {
      color: #40c0c9; }

.banner-5 {
  width: 100%;
  height: auto;
  background-color: #f2f2f2; }
  .banner-5 .container-5 {
    padding-bottom: 2rem; }
  .banner-5 .container-5a {
    position: relative;
    margin: 2.5rem 0 2rem 1rem; }
  .banner-5 h2 {
    color: #40c0c9;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    padding: 5rem 2.5rem 1.5rem 1rem; }
  .banner-5 p {
    padding: 0 0 0 1rem; }
  .banner-5 .contact-info {
    padding-bottom: 1.2rem; }
  .banner-5 .skills {
    text-align: left;
    padding: 2.5rem 0;
    color: #40c0c9; }
  .banner-5 .fa {
    color: #40c0c9; }

.contact-pic {
  display: none; }

input, textarea {
  padding: .5rem;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal .8rem/100% Helvetica, sans-serif;
  width: 14rem;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.5rem;
  background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); }

textarea {
  width: 100%;
  max-width: 48rem;
  height: 9rem;
  line-height: 150%; }

input, textarea {
  transition: all 500ms ease; }
  input:hover, textarea:hover {
    border-color: #40c0c9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0.5rem; }
  input:focus, textarea:focus {
    border-color: #40c0c9; }

.contact-form label {
  margin-left: .7rem;
  font-size: .8rem;
  color: #5d5959; }
.contact-form p {
  padding: .4rem 0; }

.submit input {
  width: auto;
  padding: .5rem 1rem;
  background: #403d3d;
  border: 0;
  font-size: .8rem;
  color: #fff;
  border-radius: .5rem;
  transition: all 500ms ease; }
  .submit input:hover {
    background: #40c0c9; }

#sctn-6 .footer {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-color: #4f4f4f;
  -webkit-transform: skew(0deg, -1deg);
  -moz-transform: skew(0deg, -1deg);
  -ms-transform: skew(0deg, -1deg);
  -o-transform: skew(0deg, -1deg);
  transform: skew(0deg, -1deg);
  margin-top: -0.8rem; }
#sctn-6 .webkea a {
  color: #fff;
  transition: all 300ms ease; }
  #sctn-6 .webkea a:hover {
    color: #40c0c9; }
#sctn-6 .container-footer {
  position: relative;
  padding-top: 3rem; }
  #sctn-6 .container-footer p {
    text-align: center;
    font-size: .8rem;
    color: #bebebe; }
  #sctn-6 .container-footer ul {
    text-align: center;
    margin-top: 0.5rem; }
  #sctn-6 .container-footer li {
    display: inline;
    padding-left: 0rem; }
    #sctn-6 .container-footer li a {
      text-decoration: none;
      color: #f2f2f2;
      padding: .8rem;
      font-size: 1rem;
      transition: all 300ms ease; }
      #sctn-6 .container-footer li a:hover {
        color: #40c0c9; }
