/*SMALL SCREENS*/
@media (max-width: 850px) {
  nav ul {
    width: 12rem;
    opacity: 1;
    margin-top: 3rem;
    margin-right: -17rem;
    background-color: #4f4f4f;
    transition: all 400ms ease; }
    nav ul li {
      padding: .5rem;
      font-size: 1rem;
      text-align: left;
      display: block; }
  nav .menu-button {
    display: block;
    cursor: pointer;
    transition: all 100ms ease; }
    nav .menu-button:hover {
      color: #ddd; }
  nav .menu-open::after {
    font-size: 2rem;
    content: "\2261"; }
  nav .menu-close::after {
    content: "\2715"; }
  nav .show-menu {
    margin-right: -5rem;
    opacity: 1; } }
