/*SMALL SCREENS*/
@media (max-width: 800px) {
  nav ul {
    width: 12rem;
    opacity: 1;
    margin-top: 3rem;
    margin-right: -17rem;
    background-color: #4f4f4f;
    transition: all 400ms ease; }
    nav ul li {
      padding: .5rem;
      font-size: 1rem;
      text-align: left;
      display: block; }
  nav .menu-button {
    display: block;
    cursor: pointer;
    transition: all 100ms ease; }
    nav .menu-button:hover {
      color: #ddd; }
  nav .menu-open::after {
    font-size: 2rem;
    content: "\2261"; }
  nav .menu-close::after {
    content: "\2715"; }
  nav .show-menu {
    margin-right: 1rem;
    opacity: 1; } }
@media (min-width: 641px) {
  header embed {
    height: 4.5rem; }
  header .header-text {
    padding: 5rem 0 0 5rem; }

  .banner-1 h2 {
    font-size: 2.5rem; }
  .banner-1 p {
    text-align: left;
    font-size: 1rem; }

  .container-1 {
    padding: 5rem 7rem 0 7rem; }

  .banner-2 h2 {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 0; }
  .banner-2 p {
    font-size: 1rem;
    text-align: left; }
  .banner-2 img {
    width: auto; }
  .banner-2 .container-2 {
    padding: 1rem;
    width: 60%;
    right: 6rem;
    position: absolute; }

  .banner-3 h2 {
    font-size: 2.5rem;
    padding: 2.5rem 0 2.5rem 0; }

  .banner-4 {
    background-attachment: fixed; }
    .banner-4 h2 {
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;
      padding: 5rem 0 2.5rem 0; }
    .banner-4 p {
      font-size: 1rem;
      padding: 0 1rem;
      text-align: justify; }

  .banner-5 h2 {
    font-size: 2.5rem;
    padding: 5rem 2.5rem 1.5rem 2.5rem; }
  .banner-5 p {
    font-size: 1rem;
    padding: 0 2.5rem 0 2.5rem; }
  .banner-5 .container-5a {
    margin: 2.5rem 0 2rem 2.5rem; }
  .banner-5 .contact-form p {
    padding: .4rem 0; } }
@media (min-width: 1024px) {
  header h1 {
    font-size: 5rem;
    line-height: 4.5rem; }
  header p {
    font-size: 2.8rem; }
  header embed {
    height: 7rem; }

  .container-1 .about {
    margin-top: 3rem; }

  .contact-pic {
    display: inline;
    position: relative;
    bottom: -2.5rem;
    margin: 0 auto;
    width: 50%; }

  textarea {
    width: 30rem; } }
