/*SMALL SCREENS*/

@media (max-width: 850px) {
  nav {
    ul {
      width: 12rem;
      opacity: 1;
      margin-top: 3rem;
      margin-right: -17rem;
      background-color: #4f4f4f;
      transition: all 400ms ease;
      li {
        padding: .5rem;
        font-size: 1rem;
        text-align: left;
        display: block;
      }
    }
    .menu-button {
      display: block;
      cursor: pointer;
      transition: all 100ms ease;
      &:hover {
        color: #ddd;
      }
    }
    .menu-open::after {
      font-size: 2rem;
      content: "\2261";
    }
    .menu-close::after {
      content: "\2715";
    }
    .show-menu {
      margin-right: -5rem;
      opacity: 1;
    }
  }
}