/*SMALL SCREENS*/
@media (max-width: 640px) {
  nav ul {
    width: 12rem;
    opacity: 1;
    margin-top: 3rem;
    margin-right: -17rem;
    background-color: #4f4f4f;
    -webkit-transition: all 400ms ease;
            transition: all 400ms ease; }
    nav ul li {
      padding: .5rem;
      font-size: 1rem;
      text-align: left;
      display: block; }
  nav .menu-button {
    display: block;
    cursor: pointer;
    -webkit-transition: all 100ms ease;
            transition: all 100ms ease; }
    nav .menu-button:hover {
      color: #ddd; }
  nav .menu-open::after {
    font-size: 2rem;
    content: "\2261"; }
  nav .menu-close::after {
    content: "\2715"; }
  nav .show-menu {
    margin-right: -5rem;
    opacity: 1; } }
@media (min-width: 641px) {
  header .title {
    font-size: 5.5rem;
    margin-top: 0;
    text-align: left;
    line-height: 5rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-left: 5rem; }
  header .subtitle {
    font-family: 'Poiret One', cursive;
    font-size: 2.75rem;
    text-align: left;
    line-height: 3rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-left: 5rem; } }
@media (min-width: 1025px) {
  header .scroll-down {
    text-align: left; }

  .main-pic img {
    margin-left: 0rem !important; }

  .banner-1 p {
    text-align: left;
    font-size: 1rem; }

  .banner-2 p {
    font-size: 1rem; }

  .banner-4 {
    background-attachment: fixed; }
    .banner-4 p {
      font-size: 1rem; }

  .banner-5 p {
    font-size: 1rem; }

  .contact-pic {
    display: inline;
    position: relative;
    bottom: -2.5rem;
    margin: 0 auto;
    width: 50%; }

  textarea {
    width: 30rem; } }
