!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Enny Benzonelli | Web Designer, Editor &amp; Radio Host
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/foundation.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Poppins:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Poiret+One", :rel => "stylesheet", :type => "text/css"}/
  %body
    .top-bar
    %nav
      %h1
        %a{:href => "#"}
          .nav-logo
            %object
              %embed{:src => "img/svg-logo/enny-logo.svg", :type => ""}/
          %span{:style => "color: #f2f2f2"}>ENNY
          BENZONELLI
          %span{:style => "color: #f2f2f2"}>.com
      %ul
        %li
          %a{:href => '#'}
            HOME
        %li
          %a{:href => '#'}
            ABOUT
        %li
          %a{:href => '#'}
            PORTFOLIO
        %li
          %a{:href => '#'}
            CONTACT
    %header
      .main
        %h1.title
          %span{:style => "color: #f2f2f2"} ENNY
          = succeed "BENZONELLI" do
            %br/
        %h2.subtitle editor, designer &amp;<br> radio host
      .main-pic
        %img{:src => "img/enny-portrait-test.png", :alt => ""}/
      .scroll-down
        %i.fa.fa-arrow-circle-down
    
    %section
      .banner-1
        .container-1
          .row
            .small-6.columns
              %h2
                From Finance to Media
              %img{:src => "img/banker-editor-cartoon.png", :alt => ""}/
            .small-6.columns
              %p
                &nbsp;
              %p
                It takes a lot of courage to jump from a career to another, but when you do it, the rewards are priceless.
              %p
                In 2009 I've decided to leave my profession in the financial sector to start a new adventure. Since then a lot of things have happened. Take a look to my showreel to have a sneak peak at my editor and designer skills.
            
              .video
                %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/nwySvEfundU", :width => "560"}
              

    %section
      .banner-2
        .hanging-pic
          %img{:src => "img/hanging.png", :alt => ""}/
        .container-2
          %h2
            A Jack of All trades
          %p
            Some people may think that a Jack of all Trades is a Master of None, but I'd like to think of myself as a Master of Some.

    %section
      .banner-3
        .row.skills
          .small-4.columns.skills
            %i
              .fa.fa-scissors.fa-2x
            %h3
              Editor
          .small-4.columns.skills
            %i
              .fa.fa-film.fa-2x
            %h3
              Director
          .small-4.columns.skills
            %i
              .fa.fa-tasks.fa-2x
            %h3
              Producer
          .small-4.columns.skills
            %i
              .fa.fa-code.fa-2x
            %h3
              Web Designer
          .small-4.columns.skills
            %i
              .fa.fa-paint-brush.fa-2x
            %h3
              Graphic Designer
          .small-4.columns.skills
            %i
              .fa.fa-music.fa-2x
            %h3
              Radio Host


      

