!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Enny Benzonelli | Web Designer, Editor &amp; Radio Host
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/foundation.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Poppins:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Poiret+One", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/min/modernizr.js"}
    %script{:src => "js/min/jquery-1.11.3.min.js"}
    %script{:src => "js/min/skrollr.js"}
    %script{:src => "js/min/app-min.js"}
    %script{:src => "js/smoothscroll.js", :type => "text/javascript"}
  %body
    .menu
      .top-bar
        &nbsp;
      %nav
        %h1
          %a.smoothScroll{:href => "#sctn-0"}
            .nav-logo
              %object
                %embed{:src => "img/svg-logo/enny-logo.svg", :type => ""}/
            %span{:style => "color: #f2f2f2"}>ENNY
            BENZONELLI
            %span{:style => "color: #f2f2f2"}>.com
        %ul
          %li
            %a.smoothScroll{:href => '#sctn-0'}
              HOME
          %li
            %a.smoothScroll{:href => '#sctn-1'}
              ABOUT
          %li
            %a.smoothScroll{:href => '#sctn-2'}
              SKILLS
          %li
            %a.smoothScroll{:href => '#sctn-4'}
              RADIO
          %li
            %a.smoothScroll{:href => '#sctn-5'}
              CONTACT
    %header#sctn-0
      .main
        %object.main-logo
          %embed{:src => "img/svg-logo/enny-logo.svg", :type => ""}/
        %h1.title
          %span{:style => "color: #f2f2f2"} ENNY
          = succeed "BENZONELLI" do
            %br/
        %h2.subtitle editor, designer &amp;<br> radio host
      .main-pic
        %img{:src => "img/enny-portrait-test.png", :alt => ""}/
      .scroll-down
        %a.smoothScroll{:href => '#sctn-1'}
          %i.fa.fa-arrow-circle-down
    
    %section#sctn-1
      .banner-1
        .container-1
          .row
            .medium-6.columns
              %h2
                From Finance to Media
              %p
                It takes a lot of courage to jump from a career to another, but when you do it, the rewards are priceless.
              %p
                In 2009 I've decided to leave my profession in the financial sector to start a new adventure. Since then a lot of things have happened. Take a look to my showreel to have a sneak peak at my editor and designer skills.
              .video
                %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/nwySvEfundU", :width => "560"}  
            .medium-6.columns
              %img{:src => "img/banker-editor-cartoon.png", :alt => ""}/
    %section#sctn-2
      .banner-2
        .hanging-pic
          %img{:src => "img/hanging.png", :alt => ""}/
        .container-2
          %h2
            A Jack of All trades
          %p
            Some people may think that a Jack of all Trades is a Master of None, but I'd like to think of myself as a Master of Some.
          %p
            My skills are various and I like to have the ability to change into different positions. It makes life more interesting and full of new challenges every day.

    %section#sctn-3
      .banner-3
        .row.skills
          .small-12.colums
            %h2
              My skills in a blink of an eye
          .small-4.columns.skills
            %i
              .fa.fa-scissors.fa-2x
            %h3
              Editor
          .small-4.columns.skills
            %i
              .fa.fa-film.fa-2x
            %h3
              Director
          .small-4.columns.skills
            %i
              .fa.fa-tasks.fa-2x
            %h3
              Producer
          .small-4.columns.skills
            %i
              .fa.fa-code.fa-2x
            %h3
              Web Designer
          .small-4.columns.skills
            %i
              .fa.fa-paint-brush.fa-2x
            %h3
              Graphic Designer
          .small-4.columns.skills
            %i 
              .fa.fa-music.fa-2x
            %h3
              Radio Host
    %section#sctn-4
      .banner-4
        .row
          .small-12.columns
            %h2
              Every Sunday I'm on radio...
          .small-6.columns
            %p
              Join the tribe of KickArts, Auckland's comprehensive artshow, on air every Sunday on 104.6 FM - Auckland area only - or on the PlanetAudio website.
            %p
              I've the imponderable joy to be Richard Green's co-host and when he is on holiday I will run the show. It is a fun adventure that is lasting for over 3 years and our audience is growing every week.
          .small-6.columns    
            %p
              Other then working on the show itself I've coded and designed the KickArts webpage at WebKea with the help of my colleague Benji Dalton.
            %p
              Also take a look at WebKea and discover how you get also get a brilliant online presence for yourself or your business.
    %section#sctn-5
      .banner-5
        .row
          .small-6.columns
            .contact-pic
              %img{:src => "img/contact-me.png", :alt => ""}/
          .small-6.columns
            .container-5
              %h2
                Contact me
              %p.contact-info
                Get in touch if you need my help in your project. I'm sure we can find the perfect deal for a great collaboration.
              %form.contact-form{:action => "#", :method => "post"}
                / the redirect_to is optional, the form will redirect to the referrer on submission
                %input{:name => "redirect_to", :type => "hidden", :value => "http://google.com"}/
                / all your input fields here....
                %p.firstname
                  %input.form-control{:name => "firstname", :required => "", :type => "text"}/
                  %label First Name
                %p.lastname
                  %input.form-control{:name => "lastname", :type => "text"}/
                  %label Last Name
                %p.phone
                  %input.form-control{:name => "phone", :type => "text"}/
                  %label Phone Number
                %p.email
                  %input.form-control{:name => "email", :type => "email"}/
                  %label Email
                %p.message
                  %textarea.feedback{:name => "feedback"}
                %p.submit    
                  %input{:type => "button", :value => "SEND"}/ 
    %section#sctn-6
      .footer
        &nbsp;
      .container-footer  
        %p
          &copy; Enny Benzonelli, 2015
        %p
          Site by WEBKEA

    
    :javascript
      $(document).scroll(function() {
        var y = $(this).scrollTop();
        if (y > 800) {
          $('.menu').fadeIn("slow");
        } else {
          $('.menu').fadeOut();
        }
      });       