!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Enny Benzonelli | Web Designer, Editor &amp; Radio Host
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/foundation.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/responsive.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Poppins:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Poiret+One", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "img/favicon.png", :rel => "icon"}/
    %link{:href => "img/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %script{:src => "js/min/modernizr.js"}
    %script{:src => "js/min/jquery-1.11.3.min.js"}
    %script{:src => "js/min/skrollr.js"}
    %script{:src => "js/min/app-min.js"}
    %script{:src => "js/min/smoothscroll.js", :type => "text/javascript"}
  %body
    .menu.is-hidden
      .top-bar
        &nbsp;
      %nav
        %h1
          %a.smoothScroll{:href => "#sctn-0"}
            .nav-logo
              %object
                %embed{:src => "img/svg-logo/enny-logo.svg", :type => ""}/
            .nav-title
              %span{:style => "color: #f2f2f2"}>ENNY
              BENZONELLI
              %span{:style => "color: #f2f2f2"}>.com
        %span.menu-button.menu-open
        %ul
          %li
            %a.smoothScroll{:href => '#sctn-0'}
              HOME
          %li
            %a.smoothScroll{:href => '#sctn-1'}
              ABOUT
          %li
            %a.smoothScroll{:href => '#sctn-2'}
              SKILLS
          %li
            %a.smoothScroll{:href => '#sctn-4'}
              RADIO
          %li
            %a.smoothScroll{:href => '#sctn-5'}
              CONTACT
    %header#sctn-0
      .header-wrap
        .header-text
          %object.header-logo
            %embed{:src => "img/svg-logo/enny-logo.svg", :type => ""}/
          %h1
            %span{:style => "color: #f2f2f2"} ENNY
            = succeed "BENZONELLI" do
              %br/
          %p
            Editor, Web Designer &amp; Radio Host.
        .header-img
      .arrow-down
        %a.smoothScroll{:href => '#sctn-1'}
          .fa.fa-arrow-circle-down.fa-3x
    %section#sctn-1
      .banner-1
        .container-1
          .row
            .small-12.columns
              %h2
                From Finance to Media
            .small-12.medium-pull-12.large-6.columns
              %img{:src => "img/banker-editor-cartoon.png", :alt => ""}/
            .small-12.medium-12.large-6.columns.about
              %p
                It takes courage to switch careers, but when you do, the reward is priceless.
              %p
                In 2009 I left the financial sector to start a new adventure. Take a look at my show-reel to see what I have been up to.
            .small-12.columns
              .video
                %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/nwySvEfundU", :width => "560"}
    %section#sctn-2
      .banner-2
        .hanging-pic
          %img{:src => "img/hanging.png", :alt => ""}/
        .container-2
          %h2
            A Jack-Of-All-Trades
          %p
            Some people think that a Jack-of-all-Trades is a Master of None, but I like to think of myself as a Master of Some.
          %p
            My skills are various with the ability to adapt easily between multiple roles–making life interesting with new challenges daily.

    %section#sctn-3
      .banner-3
        .row.skills
          .small-12.colums
            %h2
              My skills in a blink of an eye
          .small-6.medium-4.columns.skills
            %i
              .fa.fa-scissors.fa-2x
            %h3
              Editor
          .small-6.medium-4.columns.skills
            %i
              .fa.fa-film.fa-2x
            %h3
              Director
          .small-6.medium-4.columns.skills
            %i
              .fa.fa-tasks.fa-2x
            %h3
              Producer
          .small-6.medium-4.columns.skills
            %i
              .fa.fa-code.fa-2x
            %h3
              Web Designer
          .small-6.medium-4.columns.skills
            %i
              .fa.fa-paint-brush.fa-2x
            %h3
              Graphic Designer
          .small-6.medium-4.columns.skills
            %i
              .fa.fa-music.fa-2x
            %h3
              Radio Host
    %section#sctn-4
      .banner-4
        .row
          .small-12.columns
            %h2
              Every Sunday I'm on radio...
          .medium-6.columns
            %p
              Join the tribe of <a href ="www.kickarts.org.nz">KickArts</a>, Auckland's comprehensive artshow, on air every Sunday on 104.6 FM - Auckland area only - or on the <a href="www.planetaudio.org.nz/kickarts">PlanetAudio</a> website.
            %p
              I've the immeasurable joy to be Richard Green's co-host and when he is on holiday I run the show. Now 3 years on, our audience continues to grow every week.
          .medium-6.columns
            %p
              Besides co-hosting I've coded and designed the <a href ="www.kickarts.org.nz">KickArts</a> webpage at with the help of my colleague Benji Dalton.
            %p
              Benji and I have co-founded <a href ="www.webkea.co.nz">WebKea</a>, where we can create a brilliant online presence for you personally or for your business.
    %section#sctn-5
      .banner-5
        .row
          .small-12.columns
            %h2
              Contact me
            %p.contact-info
              Get in touch with your project ideas. I'm sure we can find the perfect deal and create a great collaboration.
        .row
          .small-12.medium-12.large-6.columns
            .contact-pic
              %img{:src => "img/contact-me2.png", :alt => ""}/
          .small-12.medium-12.large-6.columns
            .container-5a
              %form.contact-form{:action => "https://getsimpleform.com/messages?form_api_token=a57405a0851707c0d44897fdab40394c", :method => "post"}
                / the redirect_to is optional, the form will redirect to the referrer on submission
                %input{:name => "redirect_to", :type => "hidden", :value => "http://ennybenzonelli.com/thankyou.html"}/
                / all your input fields here....
                %p.firstname
                  %input.form-control{:name => "firstname", :required => "", :type => "text"}/
                  %label First Name
                %p.lastname
                  %input.form-control{:name => "lastname", :type => "text"}/
                  %label Last Name
                %p.phone
                  %input.form-control{:name => "phone", :type => "text"}/
                  %label Phone
                %p.email
                  %input.form-control{:name => "email", :type => "email"}/
                  %label Email
                %p.message
                  %textarea.feedback{:name => "feedback"}
                %p.submit
                  %input{:type => "submit", :value => "SEND"}/
    %section#sctn-6
      .footer
        &nbsp;
      .container-footer
        %p
          &copy; Enny Benzonelli, 2015
        %p.webkea
          Site by <a href="www.webkea.co.nz">WEBKEA</a>
        %ul.social-links
          %li.social-icons
            %a{:href => 'https://nz.linkedin.com/pub/enny-benzonelli/2b/328/179', :target => '_blank'}
              .fa.fa-linkedin-square.fa-2x
          %li.social-icons
            %a{:href => 'https://twitter.com/Enny_NZ', :target => '_blank'}
              .fa.fa-twitter-square.fa-2x
          %li.social-icons
            %a{:href => 'https://instagram.com/ennynz/', :target => '_blank'}
              .fa.fa-instagram.fa-2x
